.board {
  display: grid;
  grid-template-columns: repeat(8, 40px);
  grid-template-rows: repeat( 8, 40px);
  grid-gap: 2px;
}

.board-item {
  background-color: ghostwhite;

  &:hover {
    background-color: gainsboro;
  }

  &--selected {
    background-color: black;
  }
}
